@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}

.nav {
  /* outline: 1px solid red; */
  padding: 2rem 1.2rem 0 1.2rem;
  position: relative;
  margin-bottom: 1.5rem;
}

.logo-links {
  /* outline: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-links a {
  text-decoration: none;
}

.logo-links img {
  display: block;
  width: auto;
}

.hamburger-link {
  transition: all 0.8s ease-in-out;
}

.isActive {
  transform: rotate(180deg);
}

.nav-links {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 5rem;
  left: 0;
  background-color: var(--very-dark-violet);
  background-image: url(./images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  transition: all 0.85s ease-in-out;
  opacity: 1;
}

.display-none {
  top: -50rem;
  opacity: 0;
}

.nav-links ul {
  /* outline: 1px solid black; */
  list-style: none;
  padding: 0 2rem 0 2rem;
  margin-top: 3.5rem;
  text-align: center;
}

.nav-links ul li {
  margin-bottom: 2.5rem;
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--very-light-gray);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  transition: all 0.4s ease;
}

.nav-links ul li a:hover {
  text-decoration: underline;
}

.view-plans {
  border: 2px solid var(--very-light-gray);
  padding: 1rem 0.1rem;
  transition: all 0.4s ease;
  text-decoration: none;
  cursor: pointer;
}

.view-plans:hover {
  background-color: var(--very-light-gray);
}

.nav-links .view-plans:hover a {
  color: var(--very-dark-violet);
  text-decoration: none;
}

.hero-img {
  display: block;
  width: 100%;
}

.no-display {
  display: none;
}

.hero-text {
  background-color: var(--dark-violet);
  padding: 5rem 1.6rem 4rem 1.6rem;
  color: var(--very-light-gray);
  text-align: center;
  background-image: url(./images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  position: relative;
}

.hero-text h1 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.hero-text p {
  margin-bottom: 2rem;
  line-height: 1.8;
}

.btn {
  padding: 1rem 2.3rem;
  border: 2px solid var(--very-light-gray);
  background: none;
  color: var(--very-light-gray);
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn:hover {
  background-color: var(--very-light-gray);
  color: var(--very-dark-violet);
}

.bg-hero-desktop {
  display: none;
}

.bg-pattern {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  right: 0;
  top: 24%;
}

.bg-pattern img {
  display: block;
}

.bg-pattern-desktop {
  display: none;
}

.contents {
  margin-bottom: 5rem;
}

.content-div {
  /* outline: 1px solid black; */
  padding: 7rem 1.6rem 2rem 1.6rem;
  text-align: center;
}

.line-top {
  display: block;
  border-top: 1px solid var(--dark-grayish-violet);
  width: 150px;
  margin: auto;
  margin-bottom: 2rem;
}

.line-top-hero {
  display: none;
}

.content-div h2 {
  color: var(--very-dark-violet);
  font-size: 2.6rem;
  margin-bottom: 4rem;
}

.desc {
  margin-bottom: 2.5rem;
}

.desc img {
  display: block;
  width: 25%;
  margin: auto;
  margin-bottom: 2.5rem;
}

.desc h3 {
  color: var(--very-dark-violet);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.desc p {
  color: var(--dark-grayish-violet);
  line-height: 1.5;
}

.find-out-more {
  background-color: var(--dark-violet);
  margin: 0 1.6rem 5rem 1.6rem;
  padding: 4.5rem 2rem;
  text-align: center;
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.find-out-more h3 {
  color: var(--very-light-gray);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  line-height: 1;
}

.footer {
  background-color: var(--very-light-gray);
  padding-bottom: 3rem;
}

.socmed {
  padding: 5rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--very-light-gray);
  margin-bottom: 2rem;
}

.socmed-logo {
  width: 30%;
  margin-bottom: 2rem;
}

.socmed-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socmed-icons a {
  /* outline: 1px solid black; */
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab {
  color: #837d88;
  transition: color 0.4s ease;
}

.socmed-icons a:hover .fab {
  color: var(--very-dark-violet);
}

.line-footer {
  width: 85%;
  border-top: 1px solid hsla(273, 4%, 51%, 50%);
  margin-bottom: 2.5rem;
}

.info {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.info p {
  font-weight: 700;
  color: var(--dark-grayish-violet);
  margin-bottom: 2rem;
}

.info a {
  display: block;
  text-decoration: none;
  color: var(--very-dark-violet);
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.info a:hover {
  text-decoration: underline;
}

@media (min-width: 500px) {
  .hero-img {
    display: none;
  }

  .no-display {
    display: block;
  }
}

@media (min-width: 845px) {
  .nav {
    /* outline: 1px solid red; */
    padding: 2rem 2rem;
    margin-bottom: 0;
  }

  .hamburger-link {
    display: none;
  }

  .nav-links,
  .nav-links ul {
    all: unset;
  }

  .nav-links ul li a {
    color: var(--dark-grayish-violet);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: color 0.4s ease;
    font-size: 1rem;
  }

  .nav-links ul li a:hover {
    text-decoration: none;
    color: var(--very-dark-violet);
  }

  .nav-links ul li {
    margin-bottom: 0;
    margin-left: 1rem;
    display: inline;
  }

  .view-plans {
    border: 2px solid var(--very-dark-violet);
    padding: 0.7rem 1rem;
    transition: all 0.4s ease;
    text-decoration: none;
    cursor: pointer;
  }

  .view-plans:hover {
    background-color: var(--very-dark-violet);
  }

  .nav-links .view-plans a {
    color: var(--very-dark-violet);
  }

  .nav-links .view-plans:hover a {
    color: var(--very-light-gray);
    text-decoration: none;
  }

  .bg-hero-desktop {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 5.5rem;
    right: 0;
    z-index: 2;
  }

  .bg-hero-desktop img {
    width: 50%;
  }

  .hero {
    position: relative;
  }

  .no-display {
    display: block;
    max-width: 40%;
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 1;
  }

  .hero-text {
    text-align: left;
    padding: 3rem 2rem;
    background-image: none;
    /* outline: 1px solid red; */
  }

  .line-top-hero {
    display: block;
    width: 150px;
    margin: 0;
    margin-bottom: 2rem;
  }

  .hero-text h1 {
    padding-right: 20rem;
  }

  .hero-text p {
    padding-right: 25rem;
  }

  .bg-pattern {
    display: none;
  }

  .socmed-logo {
    width: auto;
  }
}

@media (min-width: 910px) {
  .hero-text h1 {
    padding-right: 30rem;
  }

  .hero-text p {
    padding-right: 30rem;
  }
}

@media (min-width: 1070px) {
  .hero-text h1 {
    font-size: 3.2rem;
    padding-right: 40rem;
  }

  .hero-text p {
    padding-right: 30rem;
  }
}

@media (min-width: 1170px) {
  .nav {
    padding: 2rem 10%;
  }

  .hero-text {
    padding: 3rem 10%;
  }

  .bg-hero-desktop img {
    width: 70%;
  }

  .no-display {
    max-width: 40%;
    top: 3rem;
    right: 10%;
  }
}
