@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

.container {
  max-width: 100%;
}

.nav {
  /* outline: 1px solid red; */
  padding: 2rem 1.2rem 0 1.2rem;
  position: relative;
}

.logo-links {
  /* outline: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-links a {
  text-decoration: none;
}

.logo-links img {
  display: block;
  width: auto;
}

.nav-links {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 5rem;
  left: 0;
  background-color: var(--very-dark-violet);
  background-image: url(./images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  transition: top 0.7s ease;
}

.display-none {
  top: -100rem;
}

.nav-links ul {
  /* outline: 1px solid black; */
  list-style: none;
  padding: 0 2rem 0 2rem;
  margin-top: 3.5rem;
  text-align: center;
}

.nav-links ul li {
  margin-bottom: 2.5rem;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--very-light-gray);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

#viewPlans {
  border: 2px solid var(--very-light-gray);
  padding: 1rem 0.1rem;
}
